.task-category {
    color: rgba(255, 255, 255, 0.50);
    margin: 20px 0;
}

.task-container {
    border: 1px solid #20C0F7;
    border-left: 4px solid #0BBF35;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    transition: all 0.2s;
    /* z-index: 10; */
    /* visibility: hidden; */
}


.task-container:hover {
    box-shadow: 0px 1px 12px #0BBF35;
}

.hoverAdm:hover {
    box-shadow: 0px 1px 12px #F4C222;
}

.hoverMark:hover {
    box-shadow: 0px 1px 12px #20C0F7;
}

.hoverDesign:hover {
    box-shadow: 0px 1px 12px #bf350b;
}

.task-members {
    font-size: 10px;
    color: rgba(255, 255, 255, 0.50);
}

.task-info {
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(255, 255, 255, 0.50);
}

.task-quantity {
    background-color: #193E2D;
    color: #91770c;
    /* color: #60bede; */
    padding: 5px 10px; 
    border-radius: 5px;
    font-weight: 600;
    
}

.items-container {
    margin-bottom: 25px;
    /* border: 1px solid red; */
    
}

.more-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
}

.more-icon-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-container {
    background-color: #32353E;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    top:25px;
    right:10px;
    z-index: 999;
    display: flex;
    gap: 5px;
    flex-direction: column;
    font-size: 15px;
     box-shadow: 2px 2px 5px rgb(2, 3, 14);
     transition: all 0.2s ease-in;
     visibility: hidden;
     opacity: 0;
}

.dropdown-container.show {
    visibility: visible;
    opacity: 1;
}

.dropdown-option {
    padding: 5px 10px;
    border-radius: 5px;
}

.dropdown-option:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.item-click-handler {
    /* border: 1px solid red; */
    display: none;
}