.project-tasks-container {
    display: flex;
    flex-direction: column;
    padding: 60px;
    overflow-y: auto;
    height: 100%;
    /* border: 1px solid red; */
    width: 100%;
    scrollbar-color: #474950 #31343D;
    scrollbar-width: thin;
    /* scrollbar-: 5px; */
}

/* .position-fixed {
    
    color: red;
    position:fixed;
    left: 0;
} */

@media (max-width: 770px) {
    .project-tasks-container {
        padding: 80px 20px;
    }
}

.tasks-header {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 100%;
}

.new-button {
    background-color: #0BBF35;
    border: 0;
    color: white;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 100;
    align-self: center;
    transition: all 0.2s;
}

.new-button:hover {
    background-color: #0fdc3f;
    box-shadow: 0px 2px 12px #0BBF35;
}

.project-members {
    font-size: 15px;
    color: rgba(255, 255, 255, 0.50);
}

.project-title {
    font-size: 30px;
    font-weight: 600;
}

.project-task-body {
    margin-top: 60px;
    width: 100%;
    /* border: 1px solid blue; */
}

.task-container {
    background-color: #1B1E28;
    padding: 40px;
    border-radius: 10px;
}

.task-date {
    font-size: 15px;
    color:rgba(255, 255, 255, 0.50);
    display: flex;
    justify-content: space-between;
}

.task-title {
    font-weight: 600;
    font-size: 30px;
    margin: 10px 0;
}

.more-icon {
    cursor: pointer;
}

.task-details {
    font-size: 600;
    margin: 20px 0;
    font-weight: 600;
}

.members-flex {
    display: flex;
    gap: 10px;
}

.member-icon {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-member {
    /* background-color: rgba(255, 255, 255, 0.1); */
    border: 3px dotted rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-date {
    display: flex;
    gap: 10px;
}

.task-details-content {
    color: rgba(255, 255, 255, 0.5);
}

.attach-flex {
    display: flex;
    justify-content: space-between;
}

.paperclip-icon {
    color: #0BBF35;
}

.attach-content {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.file-size {
    color: rgba(255, 255, 255, 0.5);
}

.no-tasks {
    background-color: #1B1E28;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:rgba(255, 255, 255, 0.5);
}

.status-open {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
    /* background-color: #0BBF35; */
    font-weight: 300;
    font-size: 12px;
    /* border-left: 3px solid white; */
    margin: 10px 0px;
    cursor: pointer;
    margin-right: 10px;
}

.category-label {
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 5px;
    /* background-color: #109dc7; */
    font-weight: 300;
    font-size: 12px;
    /* border-left: 3px solid white; */
    margin: 10px 0px;
    margin-right: 5px;
    cursor: pointer;
}

.project-details {
    color:rgba(255, 255, 255, 0.5);
    margin-top: 15px;
    margin-bottom: -50px;
}

.fa-thumbtack-icon {
    color:#0BBF35;
    font-size: 25px;
}

@media (max-width: 770px) {
    .new-button {
        align-self: flex-start;
        font-size: 12px;
        padding: 5px 10px;
        /* margin-left: 5px; */
        margin-top: 5px;
        font-weight: 700;
        width: 20%;
    }

    .project-title {
        padding-right: 5px;
        /* border: 1px solid red; */
        width: 90%;
    }
}
