.stat-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: flex-start;
    padding: 60px;
    flex-direction: column;
}

.stat-box {
    margin-top: 60px;
    background-color: #1B1E28;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    border-radius: 5px;
    height:100%;
}

.stat-title {
    font-weight: 500;
    font-size: 30px;
}