<div [@fadeInOut] class="stat-container">
  <p class="stat-title">
    <fa-icon [icon]="faInfo" class="info-icon"></fa-icon> About
  </p>
  <p class="page-description">ManageBox is a project developed in Angular.</p>
  <div class="stat-box">
    <!-- <p><a href="#">ManageBox</a> is a project developed in Angular.</p> -->
    <p>
      This is a live demonstration of the front-end design for a project management platform.
      The source code is available at
      <a href="https://github.com/stevancarlon" target="_blank">GitHub</a>.
    </p>
  </div>
</div>
